@media (max-width: 1366px) {
	/* clients */
	.clients__container {
		padding: 0 var(--padding-gap);
	}
}

@media (max-width: 1200px) {
	/* global */
	:root {
		--padding-gap: 12px;
	}

	/* clients-table */
	.clients-table__data--head {
		vertical-align: bottom;
	}

	.clients-table__data:first-of-type,
	.clients-table__data:nth-child(2),
	.clients-table__data:nth-child(3),
	.clients-table__data:nth-child(4),
	.clients-table__data:last-child {
		width: auto;
	}

	.clients-table__data:last-child {
		padding-right: 19px;
	}

	.clients-table__change {
		display: flex;
	}
}

@media (max-width: 1024px) {
	/* clients-table */
	.clients-table__title {
		margin-bottom: 8px;
	}

	.clients-table__data--head {
		vertical-align: bottom;
	}

	.clients-table__data:first-of-type {
		padding-right: 20px;
	}

	.clients-table__data:nth-child(2) {
		padding-right: 15px;
	}
	
	.clients-table__data:nth-child(3),
	.clients-table__data:nth-child(4) {
		padding-right: 25px;
	}
	
	.clients-table__data:nth-child(5) {
		padding-right: 40px;
	}
}

@media (max-width: 992px) {
	/* global */
	:root {
		--padding-gap: 20px;
	}

	/* clients-table */
	.clients-table__body .clients-table__data {
		padding-top: 11px;
		padding-bottom: 11px;
	}

	.clients-table__data:first-of-type {
		padding-right: 10px;
	}

	.clients-table__data:nth-child(2) {
		padding-right: 15px;
	}
	
	.clients-table__data:nth-child(3),
	.clients-table__data:nth-child(4) {
		padding-right: 10px;
	}
	
	.clients-table__data:nth-child(5) {
		padding-right: 18px;
	}

	.clients-table__data:last-child {
		padding-right: 0px;
	}

	.clients-table__date-wrapper{
		display: flex;
	}
	
	.clients-table__date-wrapper,
	.clients-table__change {
		flex-direction: column;
	}

	.clients-table__edit {
		margin-bottom: 4px;
	}
}

@media (max-width: 766px) {
	/* global */
	.search__field {
		width: 420px;
	}

	/* header */
	.header__logo {
		margin-right: auto;
	}

	.header__search {
		margin-left: 15px;
	}

	/* clients */
	.clients__table {
		overflow-x: scroll;
	}

	.clients-table {
		min-width: 729px;
	}
}

@media (max-width: 525px) {
	/* global */
	.search__field {
		width: 280px;
	}
}

@media (max-width: 458px) {
	/* global */
	:root {
		--form-padding-rl: 15px;
	}

	/* modal */
	.modal-wrapper {
		padding-top: 24px;
		padding-bottom: 20px;
		width: 300px;
	}

	.modal-wrapper__close {
		inset: 6px 8px auto auto;
	}

	/* contact */
	.clients-form__title::after {
		margin-left: 0px;
	}

	.contact-form__field {
		width: auto;
	}

	.contact-form__input {
		padding-left: 6px;
	}
}

@media (max-width: 385px) {
	/* global */
	.search__field {
		width: 200px;
	}
}

@media (max-width: 358px) {
	/* global */
	:root {
		--padding-gap: 10px;
	}

	/* header */
	.header {
		margin-bottom: 30px;
	}

	.header__container {
		justify-content: center;
		padding-top: 8px;
		padding-bottom: 5px;
	}

	.header__logo {
		margin-right: 0;
	}

	.header__search {
		display: none;
		margin-left: 0px;
	}

	/* clients */
	.clients-table__title {
		font-size: 18px;
		line-height: 25px;
	}
}